@font-face {
    font-family: Calibri;
    src: url(./fonts/calibri.ttf);
    font-family: Candaral;
    src: url(./fonts/fonts/candaral.ttf);
    font-family: Candaral;
    src: url(./fonts/candaral.ttf);
    font-family: Roboto-Bold;
    src: url(./fonts/roboto-bold.ttf);
    font-family: Roboto-Thin;
    src: url(./fonts/roboto-thin.ttf);
}