ul {
    padding-inline-start: 0px;
}


body._lock {
    overflow: hidden;
    overflow-y: hidden;
}

body._lock main,
body._lock .item-header__logo-desktop,
body._lock .header__menu-desktop,
body._lock .header__gradient,
body._lock .header__background,
body._lock .header__tagline,
body._lock footer {
    filter: blur(5px) grayscale(99%);
    transition: top 0.2s, ease 0.5s;
}
body._lock .header__nav-mobile-gradient{
    z-index: 0;
    visibility: hidden;
}

.header__nav-mobile {
    visibility: hidden;
    display: none;
}
@media (max-width: 992px) {
    .header__nav-mobile {
        visibility: visible;
        display: flex;
        position: absolute;
        padding: 0 5% 0 5%;
        position: fixed;
        top: 0;
        left: 0;
        height: 100px;
        width: 100%;
        align-items: center;
        justify-content: space-between;
    }
}
.header__nav-mobile-gradient{
    visibility: hidden;
    position: fixed;
    top: 0;
    left: 0;
    background-image: linear-gradient(to top, transparent, rgba(9, 7, 31, 1));
    width: 0px;
    height: 0px;
    z-index: 0;
}
@media (max-width: 992px) {
    .header__nav-mobile-gradient {
        visibility: visible;
        width: 100%;
        height: 100px;
        z-index: 5;
    }
}

.item-header__logo-mobile {
    display: flex;
    height: 100%;
    width: 100px;
    justify-content: end;
}

.item-header__logo-mobile img {
    display: flex;
    position: relative;
    max-width: 80px;
    object-fit: contain;
}
@media (max-width: 767px) {
    .item-header__logo-mobile img {
        max-width: 65px;
    }
}
@media (max-width: 400px) {
    .item-header__logo-mobile img {
        max-width: 50px;
    }
}

.header__menu {}

.menu {}

body._touch .menu__list>li {
    display: flex;
    align-items: center;
}

body._touch .menu__link {
    flex: 1 1 auto;
}

.menu__list {}
@media (min-width: 992px) {
    .menu__list {
        display: flex;
        align-items: center;
    }
}

.menu__list>li {
    position: relative;
    margin: 0px 0px 0px 20px;
}
@media (min-width: 992px) {
    .menu__list>li {
        padding: 10px 0;
    }
}

.menu__icon {
    display: none;
    max-height: 50px;
}
@media (max-width: 992px) {
    .menu__icon {
        z-index: 5;
        display: block;
        position: relative;
        width: 50px;
        height: 30px;
        max-height: 30px;
        min-width: 50px;
        cursor: pointer;
    }

    .menu__icon span,
    .menu__icon::before,
    .menu__icon::after {
        left: 0;
        position: absolute;
        height: 2px;
        width: 40px;
        transition: all 0.3s ease 0s;
        background-color: white;
    }

    .menu__icon::before,
    .menu__icon::after {
        content: "";
    }

    .menu__icon::before {
        top: 0;
    }

    .menu__icon::after {
        bottom: 0;
    }

    .menu__icon span {
        top: 50%;
        transform: scale(1) translate(0px, -50%);
    }

    .menu__icon._active span {
        transform: scale(0) translate(0px, -50%);
    }

    .menu__icon._active::before {
        top: 50%;
        transform: rotate(-45deg) translate(0px, -50%);
    }

    .menu__icon._active::after {
        bottom: 50%;
        transform: rotate(45deg) translate(0px, 50%);
    }

    .menu__body {
        position: fixed;
        left: 0;
        top: -100%;
        width: 100%;
        height: 100%;
        background-color: rgba(9, 7, 31, 0.9);
        padding: 100px 0 0 0;
        transition: top 0.3s, ease 0.1s;
        overflow: auto;
    }

    .menu__body._active {
        top: 0;
        padding-bottom: 5%;
    }

    .menu__body::before {
        content: "";
        position: fixed;
        width: 100%;
        top: 0;
        left: 0;
        height: 100px;
        z-index: 2;
    }

    .menu__body._active::before{
        background-image: linear-gradient(to top, transparent, rgba(9, 7, 31, 1));
        filter: blur(5px);
        z-index: 12;
    }

    .menu__list>li {
        flex-wrap: wrap;
        margin: 0px 0px 30px 0px;
        padding: 5% 0 0 10%;
    }

    .menu__list>li:hover {
        text-shadow: 0 0 1em white;
    }

    .menu__list>li:last-child {
        margin-bottom: 0;
    }

    .menu__link {
        position: absolute;
        font-size: 22px;
        text-decoration: none;
        display: flex;
        height: 50px;
        width: 200px;
        font-size: 22px;
        color: white;
        justify-content: start;
        align-items: center;
        cursor: pointer;
        font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
    }
    .menu__link:hover {
        text-shadow: 0 0 1em white;
        font-size: 24px;
    }
}
